{% extends 'base_app.html' %}

{% block page_title %}
{{ page_title }}
{% endblock %}

{% block content %}
<h2>{{ page_title }}</h2>

<form method="POST" class="form-default">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions">
        <button type="submit" class="btn-save">Salvar</button>

        {% if 'users' in request.resolver_match.url_name %}
        <a href="{% url 'colaboradores:app_users' %}" class="btn-cancel">Voltar para Lista</a>
        {% elif 'items' in request.resolver_match.url_name %}
        <a href="{% url 'equipamentos:app_items' %}" class="btn-cancel">Voltar para Lista</a>
        {% elif 'requests' in request.resolver_match.url_name %}
        <a href="{% url 'emprestimos:app_requests' %}" class="btn-cancel">Voltar para Lista</a>
        {% else %}
        <a href="javascript:history.back()" class="btn-cancel">Cancelar</a>
        {% endif %}
    </div>
</form>

{% endblock %}